<!DOCTYPE html>
<html>
<head>
	<title>Logged In</title>
</head>
<body>
	<form action='logout' method='post'>
		{% csrf_token %}
		<input type="submit" value="Log Out">
	</form>
	<h1>Hello {{request.session.id}}!</h1>
	<h1>{{user.firstname}} {{user.lastname}}</h1>
	<form action='secretprocess' method='post'>
		{% csrf_token %}
		<input type="textarea" name="secret" placeholder="Your secret here...">
		<input type="submit" value="Post">
	</form>
	<a href='popular'>To Popular Page</a>
	<h1>Recent Secrets...</h1>
	<ul>
		{% for secret in secrets %}
			<li>{{secret.comment}} {{secret.created_at}}</li>
			{% if request.session.id == secret.user.id %}
				<form action='delete' method='post'>
					{% csrf_token %}
					<input type="hidden" name="deleteid" value="{{secret.id}}">
					<input type="submit" value="Delete">
				</form>
				{%endif%}
				{% if user in secret.likes.all %}
					<p>You liked this</p>
				{% elif request.session.id != secret.user.id %}
					<form action='likes' method='post'>
						{% csrf_token %}
						<input type="hidden" name="likeid" value="{{secret.id}}">
					<input type="submit" value="Like">
					</form>
				{% endif %}
				<p>{{secret.num_likes}} likes</p>			
			{% endfor %}
		</ul>	
		{% if messages %}
		<ul class="messages">
	    {% for message in messages %}
	    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
	    {% endfor %}
		</ul>
		{% endif %}		
</body>
</html>